@import '../../styles/responsive';
@import '@elastic/eui/src/themes/eui-amsterdam/eui_amsterdam_colors_dark.scss';

.settings-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  z-index: 2;
  transition: margin 200ms;
  background-color: $euiColorEmptyShade;
  max-height: 100%;
  overflow-y: scroll;

  @include respond-to(gt-xs) {
    justify-content: center;
    flex-direction: row;
  }

  .menu-icon {
    @include respond-to(gt-sm) {
      display: none;
    }
  }

  &__content {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    margin-top: 12px;

    @include respond-to(gt-sm) {
      margin-top: 64px;
    }

    .euiPanel {
      align-self: flex-start;
      &--paddingMedium {
        padding: 0;
      }
    }
  }
}
