.search-controls {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 54px;

  .euiFieldSearch {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .euiFieldSearch {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__button {
    margin-left: 8px;
  }

  .euiPopover {
    min-width: 142px;
  }

  .euiFilterGroup {
    flex: 1;
    flex-wrap: nowrap;
  }

  &.euiPanel--paddingMedium {
    padding: 0 12px;
  }
}
