@import '../../styles/responsive';
@import '@elastic/eui/src/themes/eui-amsterdam/eui_amsterdam_colors_dark.scss';

.react-swipeable-view-container {
  height: 100%;
}

#home-view {
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 1;

  .search-controls {
    max-width: 1200px !important;
  }

  @include respond-to(xs) {
    .search-controls {
      padding: 8px;
    }
  }

  @include respond-to(gt-md) {
    height: auto;
    display: block;

    .home-search {
      position: fixed;
      z-index: 100;
      background-color: $euiPageBackgroundColor;
    }
  }

  .home-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;

    @include respond-to(gt-md) {
      overflow: visible;
      margin-left: auto;
      margin-right: auto;
    }
    & > div {
      overflow: hidden;
      max-width: 100%;
      width: 100%;
    }
    &__nav {
      margin-top: 4px;
      margin-bottom: 8px;
    }
    &__twitch {
      display: none;
      flex: 1;

      @include respond-to(gt-md) {
        display: block;
        margin-top: 62px;
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }
}
