@import '../../styles/responsive';

.guide-list {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 10px;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    overflow: auto;
    margin-top: 8px;

    .euiFlexItem {
      margin-bottom: 0 !important;
    }

    @include respond-to(gt-xs) {
      grid-template-columns: repeat(auto-fill, 400px);
    }
  }
}
