@import "../../styles/responsive";

.guide-list {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__controls {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 54px;
    margin-bottom: 16px;

    .guide-controls__button {
      @media only screen and (max-width: 574px) {
        margin-top: 8px;
        margin-bottom: 16px;
      }
    }
    &.euiPanel--paddingMedium {
      padding: 0 12px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 10px;
    width: 100%;
    max-width: 1400px;
    justify-content: center;

    .euiFlexItem {
      margin-bottom: 0 !important;
    }

    @include respond-to(gt-xs) {
      grid-template-columns: repeat(auto-fill, 400px);
    }
  }
}
