@import '../../styles/responsive';
@import '@elastic/eui/src/themes/eui-amsterdam/eui_amsterdam_colors_dark.scss';
@import '../../styles/general';

#guide-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  z-index: 2;
  transition: margin 200ms;

  @include respond-to(gt-xs) {
    min-width: unset;
    .guide-section__markdown_gifs {
      display: flex;
      & > div {
        margin: 4px;
      }
    }
  }

  .guide-detail__header {
    height: 60px;
    border-bottom: 2px solid lighten($color: $euiColorEmptyShade, $amount: 4%);
    display: flex;
    flex: 1;
    align-items: center;
    background-color: lighten($euiColorEmptyShade, 2%);
    padding: 8px;

    .menu-icon {
      @include respond-to(gt-sm) {
        display: none;
      }
    }

    .title {
      display: flex;
    }

    .controls__button {
      margin: 0 4px 0 4px;
    }

    .controls {
      margin-right: 16px;
      margin-left: auto;
    }

    &__title {
      display: inherit;
      align-items: inherit;
      font-size: 24px;
      font-weight: 600;
      text-transform: capitalize;
      margin-left: 12px;
      margin-right: auto;
    }
  }

  .guide-detail__content {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 18px;
    padding-bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    background-color: lighten($euiColorEmptyShade, 2%);

    @include twitter-holder;

    .euiAspectRatio {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }

    .euiMarkdownFormat {
      display: flex;
      justify-content: center;
      padding-bottom: 80px !important;

      div {
        width: 100%;
      }

      table {
        display: table;

        th {
          background-color: lighten($color: $euiColorEmptyShade, $amount: 4%);
        }

        td {
          background-color: darken($color: $euiColorEmptyShade, $amount: 2%);
        }
      }
    }

    .guide-sidebar {
      width: 300px;
      min-width: 300px;
      display: none;
      position: relative;

      @include respond-to(gt-md) {
        display: flex;
        justify-content: flex-end;
      }

      .sidebar-items {
        position: fixed;
        display: flex;
        flex-direction: column;
        padding-left: 12px;

        .twitch-sidebar {
          overflow: hidden;
          width: 254px;
          display: flex;
          flex-direction: column;
          position: unset;
          padding-bottom: 48px;
        }
      }
    }

    .body {
      flex: 1;
      padding: 16px;
      padding-bottom: 0;
      max-width: 900px;
      width: 100%;

      @include respond-to(gt-sm) {
        position: relative;
      }

      .euiComboBox .euiComboBox__inputWrap {
        border-radius: 0;
      }

      &.editing {
        height: 100%;
        padding: 0 !important;

        .euiMarkdownEditorToolbar {
          border-radius: 0;
        }

        .euiMarkdownEditorPreview,
        .euiMarkdownEditorFooter {
          border-radius: 0;
        }

        .euiMarkdownEditorFooter {
          border-radius: 0;
        }
      }

      @include respond-to(gt-xs) {
        padding: 16px;
      }

      .euiMarkdownFormat {
        max-width: 900px;
        p {
          display: flex;
          flex-direction: column;
          font-size: 18px;

          @include respond-to(gt-sm) {
            flex-direction: row;
            flex-wrap: wrap;
          }
        }

        h1,
        h2,
        h3,
        h4 {
          font-weight: 600;
          color: #a5b6e9;
        }

        img {
          width: 100%;
          margin: 4px 0;
          padding: 18px;
        }

        .markdown__video,
        .markdown__gifs {
          display: flex;
          justify-content: center;
          padding: 18px;

          &__gif {
            margin-left: auto;
            margin-right: auto;
            padding: 2px;
            width: 100%;
            border-radius: 8px;
          }
        }

        $screen-background: #272932;
        .gif-container {
          background-color: $screen-background;
          border-radius: 8px;
          margin-top: 10px;
          position: relative;
          overflow: hidden;
          width: 100%;
        }
      }
    }
  }
}
