@import '../../styles/responsive';

#guide-detail {
  padding: 8px 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include respond-to(gt-sm) {
    padding: 8px 24px 0 24px;
  }

  @include respond-to(gt-xs) {
    .markdown_gifs {
      display: flex;
      & > div {
        margin: 4px;
      }
    }
  }

  .guide-detail__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    padding-bottom: 64px;

    .guide-content {
      &__droppable {
        width: 100%;
      }

      &__sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        height: 100%;
        overflow: auto;

        .euiPanel {
          flex-grow: 0;

          &--paddingMedium {
            padding: 0;
          }
        }
      }

      &__right {
        margin-left: 12px;
        display: none;
        width: 248px;

        &.editing {
          margin-top: 8px;
        }

        @include respond-to(gt-sm) {
          display: block;
        }
      }
    }
  }
}
