$color-white: #fdfdfd;
$color-black: #19191a;

/* Gray */
$color-gray-background: #f7f7f7;
$color-gray-border: #d9d9d9;
$color-gray-dark: #838383;
$color-border: #d9d9d9;
$color-input: #f2f0f0;

/* Green */
$color-green: #14c514;
$color-green-background: #ceffce;
/* Red */
$color-red: #f94f4f;
$color-red-background: #ffa8a8;
$color-orange: #f9a203;
$color-orange-background: #ffd994;

/* Blue */
$color-blue: #1890ff;
$color-blue-dark: #364c5d;

$color-primary: #09d3ac;
