@import '@elastic/eui/src/themes/eui-amsterdam/eui_amsterdam_colors_dark.scss';

.tree-nav {
  padding: 16px;
  padding-top: 8px;

  .euiDraggable .euiDraggable__item.euiDraggable__item--isDisabled {
    cursor: pointer !important;
  }

  .nav {
    cursor: pointer;

    &:hover {
      color: white;
      background-color: lighten($euiColorEmptyShade, 20%);
    }

    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 8px;
    }
  }
  .guide {
    width: 100%;

    .item {
      cursor: pointer;
      position: relative;

      &.inner:hover {
        color: white;
        background-color: lighten($euiColorEmptyShade, 20%);
      }

      padding: 0 8px;
      height: 32px;
      border-radius: 4px;
      font-size: 16px;
      display: flex;
      align-items: center;
      line-height: 1.5;

      span {
        display: flex;
      }

      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline;
        text-transform: lowercase;
        color: #b9bbcf;
      }

      .guide-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline;
        text-transform: uppercase;
        color: #b9bbcf;
        font-size: 12px;
        font-weight: bold;
      }

      &.inner {
        margin-left: 24px;
      }

      .icon {
        margin-right: 8px;
      }
    }
  }

  .euiDroppable--l {
    padding: 0;
  }

  .euiDraggable--m {
    padding: 0;
  }

  .droppable {
    background-color: transparent !important;
  }
}

.section-count {
  font-size: 8px;
  background: #b9bbcf;
  border-radius: 50%;
  padding: 2px;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -11px;
  color: #191a1f;
  font-weight: 500;
}

.add-section {
  margin-left: auto;
  .euiButtonIcon--primary {
    color: #b9bbcf;
  }
}
