@import '../../styles/responsive';
@import '@elastic/eui/src/themes/eui-amsterdam/eui_amsterdam_colors_dark.scss';
@import '../../styles/general';

#post-list {
  height: 100%;
  overflow: auto;
}

.post-list {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 0 !important;
  padding-top: 8px;

  @include twitter-holder;

  @include respond-to(gt-xs) {
    padding: 8px;
  }

  @include respond-to(gt-md) {
    overflow: visible;
  }

  &__content {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
    width: 100%;
    max-width: 800px;
    flex: 1;

    @include respond-to(gt-md) {
      overflow: visible;
    }

    @include respond-to(gt-sm) {
      padding: 16px 16px;
    }

    @include respond-to(gt-md) {
      overflow: visible;
    }

    @include respond-to(gt-sm) {
      padding: 16px 16px;
    }

    .euiPanel {
      &.euiPanel--hasBorder {
        @include respond-to(xs) {
          border-left: none;
          border-right: none;
        }
      }

      &.euiPanel--borderRadiusMedium {
        border-radius: 0;

        @include respond-to(gt-xs) {
          border-radius: 4px;
        }
      }
    }
  }

  .post-sidebar {
    padding-left: 8vw;
    display: none;
    width: 300px;
    min-width: 300px;

    @include respond-to(gt-sm) {
      // display: flex;
      // justify-content: flex-end;
    }

    .twitch-sidebar {
      overflow: hidden;
      width: 254px;
      display: flex;
      flex-direction: column;
      position: fixed;
      top: unset;
      right: unset;
      padding-bottom: 48px;
    }
  }

  .post {
    flex-grow: 0;
    width: 100%;
  }
}

.post__modal {
  width: 80vw;
  .euiFormControlLayout {
    margin-bottom: 12px;
  }

  .euiComboBox .euiComboBox__inputWrap {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .euiMarkdownEditorToolbar {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .euiMarkdownEditorPreview,
  .euiMarkdownEditorFooter {
    border-radius: 0;
  }

  .euiMarkdownEditorFooter {
    border-radius: 0;
  }
}
.euiModal .euiModal__flex {
  @include respond-to(gt-xs) {
    max-height: 85vh !important;
  }
}
.euiOverlayMask {
  padding-bottom: 0 !important;
}
