@import '../../styles/responsive';

#post-list {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex: 1;

  .post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 800px;
    overflow: hidden;
    padding-top: 8px;

    @include respond-to(gt-xs) {
      padding: 8px;
    }
    @include respond-to(xs) {
      .search-controls {
        padding: 8px;
      }
    }

    @include respond-to(gt-md) {
      margin-left: 258px;
    }

    &__content {
      width: 100%;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 48px;
      padding-top: 8px;

      @include respond-to(gt-xs) {
        padding-top: 8px;
      }

      .euiPanel {
        &.euiPanel--hasBorder {
          @include respond-to(xs) {
            border-left: none;
            border-right: none;
          }
        }

        &.euiPanel--borderRadiusMedium {
          border-radius: 0;

          @include respond-to(gt-xs) {
            border-radius: 4px;
          }
        }
      }
    }

    &__twitch {
      display: none;

      @include respond-to(gt-md) {
        display: block;
        margin-top: 70px;
        margin-left: 4px;
      }
    }

    .post {
      flex-grow: 0;
    }
  }
}

.post__modal {
  width: 80vw;
  .euiFormControlLayout {
    margin-bottom: 12px;
  }

  .euiComboBox .euiComboBox__inputWrap {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .euiMarkdownEditorToolbar {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .euiMarkdownEditorPreview,
  .euiMarkdownEditorFooter {
    border-radius: 0;
  }

  .euiMarkdownEditorFooter {
    border-radius: 0;
  }
}
.euiModal .euiModal__flex {
  @include respond-to(gt-xs) {
    max-height: 85vh !important;
  }
}
.euiOverlayMask {
  padding-bottom: 0 !important;
}
