@import "../../styles/responsive";

.twitch-stream {
  display: flex;
  align-items: center;
  width: 100%;
  a.euiListGroupItem__button {
    color: inherit;
    &:hover {
      text-decoration: none !important;
    }
  }
}
.matchup-content__right {
  margin-left: 12px;
  display: none;
  width: 248px;

  @include respond-to(gt-sm) {
    display: block;
  }
}

.username {
  margin-left: 10px;
}
