@import "../../styles/responsive";

.twitch-stream {
  display: flex;
  align-items: center;
  width: 100%;
  a.euiListGroupItem__button {
    color: inherit;
  }
}

.username {
  margin-left: 10px;
}
