@import '../../styles/responsive';
@import '@elastic/eui/src/themes/eui-amsterdam/eui_amsterdam_colors_dark.scss';

#contributor-sidebar {
  display: none;
  @include respond-to(gt-md) {
    display: block;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 100px;
    left: calc(50vw - 700px);
  }

  .contributor-sidebar {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 54px);
    overflow: hidden;
    width: 300px;

    &__header {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 600;
      text-transform: capitalize;
      width: 100%;
      height: 57px;
      padding: 16px;

      .donate {
        margin-left: auto;
      }
    }

    &__chefs {
      overflow: auto;

      .chef {
        display: flex;
        width: 100%;
        padding: 16px 8px;
        cursor: pointer;

        &-info {
          width: 100%;
          margin-left: 8px;

          .icon {
            margin: 0 4px;
            width: 16px;
            height: 16px;
            cursor: pointer;
          }

          &__username {
            display: flex;
            align-items: center;
            font-weight: bold;
            color: #8b89e2;
            margin-bottom: 6px;
          }
        }
      }
    }

    .euiListGroup-maxWidthDefault {
      max-width: unset;
    }

    &.euiPanel {
      flex-grow: 0;

      &--paddingMedium {
        padding: 0;
      }
    }
  }
}
